* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  background-image: url(./assets/solid-black-background-9ctb77194tdactsh.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  min-height: 100vh;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  background: transparent;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);

  
  padding-top: constant(safe-area-inset-top);
  padding-bottom: constant(safe-area-inset-bottom);
}


#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
}


#profile {
  text-align: center;
  padding: 24px;
  padding-bottom: 5px;
}

#profile img {
  width: 120px;
  border-radius: 50%;
  border: 2px solid #666;
}

#profile p {
  margin-top: 10px;
  color: white;
  font-weight: 500;
}


ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  gap: 12px;
  margin-top: 8px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  text-decoration: none;
  color: white;

  padding: 16px;
  margin: 0 32px;
  border-radius: 10px;
  border: 1px solid #666;

  background: rgba(17, 17, 17, 0.85);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: background 0.2s, border 0.2s;
}


@media (hover: hover) {
  ul li a:hover {
    background: rgba(0, 0, 0, 0.9);
    border: 1.5px solid white;
  }
}


#social-links {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;
  border-radius: 50%;
  color: white;

  transition: background 0.2s;
}

@media (hover: hover) {
  #social-links a:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
