* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./assets/solid-black-background-9ctb77194tdactsh.jpg);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100vh;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
  padding: 24px;
  padding-bottom: 5px;
}

#profile img {
  width: 120px;
  border-radius: 50%;
  border: 2px solid #666;
}

#profile p {
  margin-top: 10px;
  color: white;
  font-weight: 500;
}

#car-logo {
  color: white;
  margin: 8px 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#car-logo a {
  color: white;
  font-size: 24px;
}

#car-logo a:hover {
  color: red;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  gap: 12px;
  margin-top: 8px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  border: 1px solid #666;
  text-decoration: none;
  padding: 16px;
  margin: 0 32px;
  color: white;
  border-radius: 10px;

  background: #111;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background 0.2s;
}
ul li a:hover {
  background: black;
  border: 1.5px solid white;
}

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0px;
  gap: 5px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
  color: white;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
}
